<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ssc.shakesocketcontroller">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:name=".Transaction.controller.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <service
            android:name=".Transaction.threads.SSCService"
            android:description="@string/app_ssc_service_desc"
            android:enabled="true"
            android:exported="false"
            android:label="@string/app_ssc_service_name" />

        <activity
            android:name=".FunctionActivity"
            android:label="功能列表"
            android:parentActivityName=".UI.activities.MainActivity" />
        <activity
            android:name=".VolumeControlActivity"
            android:label="音量调节"
            android:parentActivityName=".FunctionActivity" />
        <activity
            android:name=".MusicControlActivity"
            android:label="音乐控制"
            android:parentActivityName=".FunctionActivity" />
        <activity
            android:name=".PPTControlActivity"
            android:label="PPT助手"
            android:parentActivityName=".FunctionActivity" />
        <activity
            android:name=".PowerControlActivity"
            android:label="远程控制"
            android:parentActivityName=".FunctionActivity" />
        <activity
            android:name=".UI.activities.MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>